@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

.containerexp{
    margin: 0 0 300px 0;
}
.containerexp__top{
    background: url("../../assets/backurlss.jpg");
    padding: 50px 0 50px 0;
    background-repeat: no-repeat;
    height: 50vh;
}

.containerexp__top p{
    margin: 0 400px 0 100px;
    font-size: 35px;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
}