.example-card3 {
    height: auto;
    width: 500px;
    margin-left: 3%;
    margin-right: 3%;
    font-family: 'Alata','Outfit', sans-serif;
    border: 1px solid black;
  }
  
  .contains3{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 20px 0 0 0;
    
  }
  .p3
  {
    font-size: large;
    padding: 10px 20px;
  }
  .img3{
    margin: 0 0 10px 12px;
   

  }
