@import url('https://fonts.googleapis.com/css2?family=PT+Sans&family=Petemoss&family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap'); 
 
 .companycontainer{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(232, 241, 241);
    padding: 20px 20px 20px 20px;    
    box-sizing: border-box;
} 

.companycontainer__image img{
    width: 100%;
    height: auto;
    flex: 0.4;
}

.companycontainer__content {
    flex: 0.6;
    text-align: center;
    margin-right: 100px;
}
.companycontainer__content p{
    margin-left: 150px;
}

h3{
    display: flex;
    text-align: center;
    padding: 50px 0 1px 550px;
}

/*---------------------------------------*/
.companycontainer2{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(232, 241, 241);
    padding: 0 0 80px 0;
}


.companycontainer__imgage2 img{
    width: 100%;
    height: auto;
    flex: 0.4;
}

.companycontainer__content2 {
    flex: 0.6;
    text-align: center;
    margin-right: 100px;
}

/*--------------------*/

.companycontainer3{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 0 80px 0;
    background-color: rgb(232, 241, 241);

}

.companycontainer__imgage3 img{
    width: 100%;
    height: auto;
    flex: 0.4;
}

.companycontainer__content3 {
    flex: 0.6;
    text-align: center;
    margin-right: 100px;
}

.companycontainer__content3 p{
    margin-left: 150px;
}


/*-------------------------------------*/

.flipcard {
    margin: 10px 0 0 50px;
    background-color: transparent;
    width: 300px;
    height: 300px;
    perspective: 1000px;
    
  }
  

  .flipcard__inner {
    position: relative;
    width: 90%;
    height: 60%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    
  }

  
  
  .flipcard:hover .flipcard__inner {
    transform: rotateY(180deg);
  }
  
  .flipcard__front, .flipcard__back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  
  .flipcard__front {
    background-color: #2c73df;
    color: white;
  }
  
  .flipcard__back {
    background-color: #f05e09;
    color: white;
    transform: rotateY(180deg);
    text-align: center;
    padding: 60px 0 0 0;
  }

  .flipcard1 {
    margin: -20px 0 0 50px;
    background-color: transparent;
    width: 300px;
    height: 300px;
    perspective: 1000px;
  }
  
  .flipcard__inner1 {
    position: relative;
    width: 90%;
    height: 60%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  }
  
  .flipcard1:hover .flipcard__inner1 {
    transform: rotateY(180deg);
  }
  
  .flipcard__front1, .flipcard__back1 {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  
  .flipcard__front1{
    background-color: #f05e09;
    color: white;

  }
/*   .flipcard__front{
    animation: shake 2s;
    animation-iteration-count:infinite;
  }
  .flipcard__front1{
    animation: shake 2s;
    animation-iteration-count:infinite;
  } */
  
  .flipcard__back1 {
    background-color: #2980b9;
    color: white;
    transform: rotateY(180deg);
    text-align: center;
    padding: 60px 0 0 0;
  }



  .headingafter{
      margin: 10px 0 0 0;
      text-align: center;
      font-family: 'Poppins', sans-serif;
  }

  .containerflip{
      display: flex;
  }

  .flipcard{
      flex: 0.5px;

  }

  .flipcard1{
    flex: 0.5px;
      
}

.underhead{
    display: flex;
}

.underhead1{
    flex: 0.5px;
    margin: -40px 0 0 160px;
    font-size: 20px; 
}

.underhead2{
    flex: 0.5px;
    margin: -40px 0 0 160px;
    font-size: 20px;
}

/*----------------*/

/* .image:hover {
  animation: shake 5s;
  animation-iteration-count:infinite;
 
} */

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}
/* .image{
  margin: 0 20px 0 20px;
}  */
.img{
  padding: 50px;
  background-color: green;
  transition: transform .2s; /* Animation */
  width: 150px;
  height: 150px;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
}
.img:hover{
  -ms-transform: scale(1.5); /* IE 9 */
  -webkit-transform: scale(1.5); /* Safari 3-8 */
  transform: scale(1.5); 
 /*  animation: shake 5s;
  animation-iteration-count:infinite; */
}


/* -------flip card animation----------- */
.servbody {

  margin: 0;

  padding: 0;

  display: flex;

  align-items: center;

  justify-content: center;  

  font-family: sans-serif;

  background-color: #f1f1f1; 

}

.servcontainer .servcard .icon1{

  position: absolute;

  text-align: center;

  top: 0;

  left: 0;

  width: 100%;

  height: 100%;

  background: #2c73df;

  color: #fff;

  display: flex;

  align-items: center;

  justify-content: center;

  font-size: large;

 

}

.servcontainer .servcard .icon2{

  position: absolute;

  text-align: center;

  top: 0;

  left: 0;

  width: 100%;

  height: 100%;

  color: #fff;

  background: #f05e09;

  display: flex;

  align-items: center;

  justify-content: center;

  font-size: large;




}

/* .servcontainer .servcard .icon .fa {

  position: absolute;

  top: 50%;

  left: 50%;

  transform: translate(-50%, -50%);

  font-size: 80px;

  color: #fff;

} */

.servcontainer .servcard .slide {

  width: 300px;

  height: 200px;

  transition: 0.5s;

}

.servcontainer .servcard .slide.slide1 {

  position: relative;

  display: flex;

  justify-content: center;

  align-items: center;

  z-index: 1;

  transition: .7s;

  transform: translateY(100px);

}

.servcontainer .servcard:hover .slide.slide1{

  transform: translateY(0px);

}

.servcontainer .servcard .slide.slide2 {

  position: relative;

  display: flex;

  justify-content: center;

  align-items: center;

  padding: 20px;

  box-sizing: border-box;

  transition: .8s;

  transform: translateY(-100px);

  box-shadow: 0 20px 40px rgba(0,0,0,0.4);

}

.servcontainer .servcard:hover .slide.slide2{

  transform: translateY(0);

}

.servcontainer .servcard .slide.slide2::after{

  content: "";

  position: absolute;

  width: 30px;

  height: 4px;

  bottom: 15px;

  left: 50%;

  left: 50%;

  transform: translateX(-50%);

  background: #2c73df;

}

.servcontainer .servcard .slide.slide2 .servcontent p {

  margin: 0;

  padding: 0;

  text-align: center;

  color: #414141;

}

.servcontainer .servcard .slide.slide2 .servcontent h3 {

  margin: 0 0 10px 0;

  padding: 0;

  font-size: 24px;

  text-align: center;

  color: #414141;

} 


